<h2>Bienvenue sur le StarterKit Play!Framework Ausy</h2>
<p>Si vous lisez cette page c'est que vous avez correctement installer Play!Framework et réussi à lancer le 
StarterKit Ausy <br />
Ce StarterKit à bien sur pour objectif de vous aidez à commencer une application en utilisant Play en contenant
déjà quelques classes et modules intéressants mais il contient également un support de formation 
se basant sur le mini-projet <strong>AusyPlay</strong> accessible sur github (git://github.com/kebuu/AusyPlay.git).
</p>
<p>Si vous connaissez déjà bien Play!Framework et que le support de formation ne vous intéresse pas, vous 
pouvez supprimer tous ce qui concerne cette documentation et ne garder qu'un StarterKit vide et prêt à 
l'emploi. Dans le cas contraire il est conseillé de récupérer le projet support pour pouvoir démarrer
l'application et voir un peu se comment tout cela fonctionne. 
Vous pourrez également faire des modifications sur le projet avant de vous lancer dans le votre.
</p>
<p>
<span class="label notice">Note</span> Afin que vous puissiez démarrer en même temps le projet <strong>AusyPlay</strong> et le StarterKit, 
le port du StarterKit a été positionné sur 9001 (et le port JPDA sur 8001), ce qui implique que pour accéder à l'application vous dévrez
utiliser l'adresse <a>http://localhost:9001</a>
</p>

<h3>Contenu</h3>
<p>Ce StarterKit contient les éléments suivants : </p>
<dl>
    <dt>La version 1.2.3 de Play!Framework</dt>
    <dd>Dernière version stable du framework au moment de rédaction de ce document. Vous pouvez retrouver toutes les informations et la documentation
    sur le site officiel de <a href="playframework.org">Play!</a>.</dd>
    <dt>Le module CRUD</dt>
    <dd>Ce module permet de générer simplement des pages de visualisation, création, modification, suppression de vos objets model</dd>
    <dt>Le module Secure</dt>
    <dd>Ce module permet créer un page d'identification et de gérer des profiles utilisateurs pour sécuriser l'accès à votre application</dd>
    <dt>Le module Guice</dt>
    <dd>Ce module permet d'utiliser Guice pour gérer l'injection de dépendance dans votre projet</dd>
    <dt>La version 1.5.2 de JQuery</dt>
    <dd>JQuery est une librairie javascript relativement géniale, si vous ne savez pas de quoi il s'agit, rendez-vous sur 
    <a href="jquery.com">JQuery</a></dd>
    <dt>La feuille de style <em>Bootstrap Twitter</em></dt>
    <dd>Cette feuille de style vous permet de donner simplement et rapidement un peu d'allure à votre application. Vous apprendre à l'utiliser, 
    rendez-vous sur <a href="http://twitter.github.com/bootstrap/">Bootstrap Twitter</a>. Cette page utilise d'ailleurs quelques éléments de cette 
    feuille de style</dd>
    <dt>La classe JPQLHelper</dt>
    <dd>Cette classe vous aidera à réaliser vos requête JPQL dynamique en gérant notamment le cas des paramètres nuls ou vide.</dd>
    <dt>Le support de formation basé sur le projet <em>AusyPlay</em></dt>
    <dd>Comme des exemples de classes de test unitaires et fonctionnels, des Jobs, des classes de base pour vos models ou vos controlleurs ...</dd>
    <dt>D'autres petites choses ...</dt>
    <dd>Comme des exemples de classes de test unitaires et fonctionnels, des Jobs, des classes de base pour vos models ou vos controlleurs ...</dd>
</dl>

<h3>Objectifs</h3>
<p>L'objectif de ce StaterKit est donc double : 
	<ol>
	    <li>Proposer quelques outils supplémentaires pour pouvoir démarrer votre projet encore plus rapidement</li>
	    <li>Proposer une présentation de Play!Framework ainsi qu'un support de formation basé sur le projet AusyPlay</li>
	</ol>
</p>