<h2>La page "Collecter BD"</h2>
<p>
Cette page n'apporte pas vraiment de nouveauté au niveau de la compréhension de <b>Play!</b>, elle a juste été rajoutée pour permettre à l'utilisateur
d'ajouter des BD qui ne sont pas déjà dans les séries auxquelles il a accès. Cela lui permet d'augmenter son nombre de série accessible.
<br /> Nous ne détaillerons donc pas cette page mais vous pouvez en profiter pour analyser vous même l'url, le controlleur appelé, les appels ajax et
le requêtes mises en jeu ici.
</p>
