<h2>Lancement de Job</h2>
<p>
On a déjà vu un exemple de Job lorsqu'on a évoqué l'insertion de données au démarrage de l'application. Cependant <b>Play!</b> propose d'étendre cette
fonctionnalité de pouvoir créer des tâches planifiées très simplement. Nous avons crée un exemple de tâche planifiée définie dans 
<em>FakeJob.java</em> : 
</p>
<pre class="prettyprint">
/**
 * Sample of class to illustrate how Jobs work.
 */
// @Every("10s")
public class FakeJob extends Job&lg;Object&gt; {

	@Override
	public void doJob() throws Exception {
		String log = MessageFormat.format(
				"Exemple de job effectué à : {0, date, hh:mm:ss}", new Date());
		Logger.info(log);
	}
}
</pre>

<p>
Le simple fait d'ajouter l'annotation <code>@Every("10s")</code> et d'etendre la classe <code>Job</code> permet de créer une tâche planifiée, éxécutée
en l'occurrence toutes les 10 secondes (c'est pourquoi l'annotation est commentée, cela évite de polluer vos log. Décommentez la ligne et relancé le 
serveur pour vérifier que ça marche)
</p>

<p>
<span class="label notice">Note</span> : Pour des planifications plus compliquées, il est possible d'utiliser l'annotation <code>@On("...")</code> 
à la place de <code>@Every("10s")</code> avec en paramètre une expression CRON.
</p>