<h2>Les pages "Emprunts"</h2>

<img alt="Sous-Menu Tous" src="@{'/public/images/submenuAll.png'}" width="100%" />

<p>
Les pages du menu "Emprunts" fonctionnent globalement comme la page "Ma collection" mais l'utilisation du sous-menu "Tous" va nous permettre de mettre 
en avant l'utilisation et la mise en place du module <b>Guice</b>.
</p>
<p>
Vous avez certainement déjà constaté que le sous-menu "Tous" n'est rien d'autre que la concaténation des deux sous-menus "Entrants" et "Sortants".
</p>

<p>
Du coup pour éviter de faire des copier-coller de code nous avons décidé d'exporter les requêtes de récupération des prêts entrants et sortants et de
les appeler toutes les deux pour le sous-menu "Tous". Le service créé a été appelé <code>LoanService</code> et il est utilisé dans le controlleur 
<code>LoanCtrl</code>
</p>

<code>LoanService</code>
<pre class="prettyprint">
/**
 * A service related to Loan, used to centralize business logic.
 */
public class LoanService {

	/**
	 * Gets the book the connected user have borrowed.
	 * @param connectedUser the connected used
	 * @return a list of Loan
	 */
	public List&lt;OwnedBook&gt; getInput(final User connectedUser) {
		List&lt;OwnedBook&gt; inputs = OwnedBook.find("select ownedBook from OwnedBook ownedBook " +
				"where ownedBook.borrower = :user")
			.bind("user", connectedUser)
			.fetch();
		
		return inputs;
	}

	/**
	 * Gets the book the connected user have lent.
	 * @param connectedUser the connected used
	 * @return a list of Loan
	 */
	public List&lt;OwnedBook&gt; getOuput(final User connectedUser) {
		List&lt;OwnedBook&gt; outputs = OwnedBook.find("select ownedBook from OwnedBook ownedBook " +
				"where ownedBook.borrower is not null " +
				"and ownedBook.owner = :user")
		.bind("user", connectedUser)
		.fetch();
		
		return outputs;
	}
}
</pre>

<code>LoanCtrl</code>
<pre class="prettyprint">
/**
 * Controllers for Loan.
 */
public class LoanCtrl extends LoggedApplication {
	
	/**
	 * Here is the loanService injected by Guice.
	 */
	@Inject
	public static LoanService loanService;
	
	public static void input() {
		List&lt;OwnedBook&gt; inputs = loanService.getInput(getConnectedUser());
		render(inputs);
	}

	public static void output() {
		List&lt;OwnedBook&gt; outputs = loanService.getOuput(getConnectedUser());
		render(outputs);
	}

	public static void all() {
		List&lt;OwnedBook&gt; inputs = loanService.getInput(getConnectedUser());
		List&lt;OwnedBook&gt; outputs = loanService.getOuput(getConnectedUser());
		render(inputs, outputs);
	}
}
</pre>

<p>
Normalement rien de doit vous choquer dans le service, ni dans le controlleur. La seule chose un peu étrange c'est
la propriété <em>static</em> <code>loanService</code> annotée <code>&#64;Inject</code> dans le controlleur. En fait le controlleur ne fait que déclarer
le service dont il a besoin afin de se le faire "injecter" 
(Pour ceux qui ne connaisse pas <a href="http://en.wikipedia.org/wiki/Dependency_injection">l'injection de dépendance</a>, 
il est temps de s'y mettre...).
<br />
L'outil dont on va se servir pour injecter ce service est <em>Guice</em>. Avant de pouvoir l'utiliser il va d'abord falloir l'installer et informer 
<b>Play!</b> que votre application en dépend. Commençons par le deuxième point.
<br />
Comme on l'a vu pour le module <em>Secure</em>, pour indiquer une dépendance vers un module (mais c'est vrai aussi pour une librairie quelconque) on
doit le déclarer dans le fichier <em>dependencies.yml</em>.
</p>

<pre>
require:
    - play
    - play -&gt; guice 1.2
</pre>
<blockquote>
<small>Au moment où ces lignes sont rédigées la dernière version du module Guice est 1.2</small>
</blockquote>

<p>Et voilà le premier point réglé ! Pour ce qui est de l'installation c'est encore plus rapide, il suffit de taper la commande
<code>play dependancies --sync</code>. <b>Play!</b> téléchargera alors le module Guice et l'ajoutera à la liste des modules de votre application 
(puisque vous avez pris la peine de le déclarer dans les dépendances).
</p>

<p>
Maintenant que le module est installé, on va pouvoir l'utiliser. Pour cela il suffit de suivre la documentation du module et donc de créer une classe
étendant <em>GuicySupport</em>. Cette classe ne fait que déclarer les classes qui vont contenir les configurations de dépendance. Nous avons
appelé cette classe <em>Guicy</em>.
</p>

<pre class="prettyprint">
/**
 * Class needed to activate Guice
 */
public class Guicy extends GuiceSupport {
	
	@Override
	protected Injector configure() {
		return Guice.createInjector(
				new BDManagerModule()
		);
	}
}
</pre>

<p>
Comme notre projet n'est pas très gros, nous ne déclarons qu'une seule classe de configuration <em>BDManagerModule</em> : 
</p>

<pre class="prettyprint">
/**
 * Contains Guice configuration.
 */
public class BDManagerModule extends AbstractModule{

	@Override
	protected void configure() {
		this.requestStaticInjection(LoanCtrl.class);
		this.bind(LoanService.class);
	}
}

</pre>

<p>Cette classe, qui doit étendre <em>AbstractModule</em> déclare les services injectables et précise que pour la classe <em>LoanCtrl</em>
l'injection est faite sur des attributs <em>static</em> (ce qui correspond bien à notre cas). Il n'y a plus qu'à vérifier que l'attribut 
<em>static</em> de type <em>LoanService</em> est bien annotée avec <code>@Inject</code> pour que tout soit bien configuré.
<br /> Et voilà ! Lorsque notre controlleur sera créé, son attribut <em>LoanService</em> sera automatiquement injecté par Guice.
</p>