<h2>Play!Framework</h2>
<p>Avant de commencer à plonger dans l'explication de telle ou telle morceau de code du projet <strong>AusyPlay</strong>, voici une petite présentation
de l'outil sous-jacent : <strong>Play!Framework</strong> et une explication de ce qui nous a poussés à nous y intéresser.</p>

<h3>Présentation</h3>
<p>
<strong>Play!Framework</strong> est un framework de développement d'application web 
<a rel="twipsy" href="http://en.wikipedia.org/wiki/Stateless_protocol" target="_blank" data-original-title="Sans utilisation de session">StateLess</a> 
écrit en Java. Contr
</p>

<h3>Points forts</h3>
<p>...</p>

<h3>Si vous ne devez retenir qu'un mot clé : Productivité</h3>
<p>Si l'on devait synthétiser à l'extême en ne gardant qu'un seul atout de Play!Framework ce serait celui-là : 
<strong>Productivité</strong>. En effet, un énorme travail a été fait pour permettre aux développeurs d'être
le plus efficace possible en réduisant aux maximums les tâches à faibles valeur ajoutée et les tâches 
répétitives.
</p>