<h2>Les Tests</h2>
<p>
<b>Play!</b> propose trois types de test : Unitaire, Fonctionnel, Selenium.<br />
Je ne vais pas revenir sur le fonctionnement de ces tests qui sont expliqués dans la documentation de <b>Play!</b> mais je vous suggère juste
d'aller jeter un oeil sur les tests fonctionnels et sélenium que nous avons mis en place sur la projet AusyPlay
car ils montrent comment gérer le cas des pages accessibles uniquement après identification (protégées par le module <em>Secure</em>).
</p>
<p>
De plus vous pourrez y voir un exemple de test sélénium ainsi que les classes de base de test que nous avons créées et ajoutées au StarterKit.
</p>
<p>
<span class="label notice">Lancer les tests</span> : Pour pouvoir éxécuter les tests, taper la commande <code>play test</code> puis pointer sur l'url
<code>/@tests</code>
</p>