#{extends 'main.html' /}
#{set title:'Manage' /}
<div id="manage-collection_container">
	<ul>
	    #{list items:allBooksBySerie, as:'serie'}
	        <li class="serieSection">
	            ${serie.name}
	            #{if serie.books}  
		          <input type="checkbox" class="serieSelector" />
	            #{/if}
	        </li>
	        <ul class="booksSection">
	            #{list items:serie.books, as:'book'}
			        <li> - ${book.title}
			          <input type="checkbox" class="bookSelector" name="bookId" value="${book.id}" #{if user.hasBook(book)} checked #{/if} />
			        </li>
			    #{/list}
	        </ul>
	    #{/list}
	</ul>
</div>

#{include 'Collection/display.html' /}

<script type="text/javascript">
    $(document).ready(function() {
	    /*
        $("#manage-collection_container").jstree({ 
            "themes" : {
                "url" : "/public/themes/default/style.css"
            },
            "html_data" : {
                "data" : $("#manage-collection_container").html()
            },
            "plugins" : [ "themes", "html_data" ]
        });
	    */
    	
	    $("input.serieSelector").each(function(i, el) {
	    	manageSerieCheckboxes(el);
	    	
	    	$(this).bind("click", function() {
	    		var current = $(this);
	            var serieSection = current.parents("li.serieSection");
	            var booksSection = serieSection.next("ul.booksSection");
	            
	            var childrenBooks = [];

	            if(current.is(":checked")) { // Be careful, it verify is the checkbox if checked 'after' the click
	            	childrenBooks = $(":checkbox.bookSelector:not(:checked)", booksSection);
	            } else {
	            	childrenBooks = $(":checkbox.bookSelector:checked", booksSection);
	            }
	            
	            childrenBooks.click(); // This only trigger the onClick event, which change the state of the checkbox
	                                   //but doesn't trigger the onChange event, so it is called after
	            childrenBooks.change();
	    	});
	    });
	    
	    
	    var selectUnselectBook = #{jsAction @Collection.selectUnselectBook(':bookId', ':selected') /}
	    $("input.bookSelector").change(function() {
	    	var bookId = $(this).val();
	    	
	    	if($(this).attr('checked')) {
			    $.get(selectUnselectBook({bookId: bookId, selected: true}));
	    	} else {
			    $.get(selectUnselectBook({bookId: bookId, selected: false}));
	    	}
	    	
            var booksSection = $(this).parents("ul.booksSection");
            var serieSection = booksSection.prev("li.serieSection");
            
            manageSerieCheckboxes($(":checkbox", serieSection));
	    });
	    
	    
	    // Manage serie checkboxes opacity
	    function manageSerieCheckboxes(checkbox) {
	    	var current = $(checkbox);
	    	var serieSection = current.parents("li.serieSection");
	    	var booksSection = serieSection.next("ul.booksSection");
	    	
	    	var childrenBooks = $(":checkbox.bookSelector", booksSection);
	    	var childrenBooksChecked = $(":checkbox.bookSelector:checked", booksSection);

	    	if(childrenBooks.size() == childrenBooksChecked.size()) {
	    		current.attr("checked", "checked");
	    		current.fadeTo(0, 1);
	    	} else if(childrenBooksChecked.size() == 0) {
	    		current.removeAttr("checked");
	    		current.fadeTo(0, 1);
	    	} else {
	    		current.fadeTo(0, 0.5);
	    		current.attr("checked", "checked");
	    	}
	    }
    });
    
</script>