<div class="userBooksBySerie">
	#{if booksInSerieForUser}
	    <dl><dt><b>Mes BD dans "${serie.name}"</b></dt>
		    #{list items:booksInSerieForUser, as:'book'}
				<dd>
			        #${book.number} - ${book.title} <span id="${book.id}" class="deleteFromSerie">Supprimer</span> 
                </dd>
		    #{/list}
		</dl>
	#{/if}
		
	<p></p>
	
	#{if booksInSerie}
        <dl><dt><b>BD manquantes dans "${serie.name}"</b></dt>
	        #{list items:booksInSerie, as:'book'}
                <dd>
                    #${book.number} - ${book.title} <span id="${book.id}" class="addInSerie">Ajouter</span> 
                </dd>
	        #{/list}
	    </dl>
    #{/if}

	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			
		    var deleteAction = #{jsAction @SerieCtrl.deleteBookInSerie(':serieId', ':bookId') /}
		    var addAction = #{jsAction @SerieCtrl.addBookInSerie(':serieId', ':bookId') /}
		    
		    $('.userBooksBySerie .deleteFromSerie').click(function(e){
		    	$('.userBooksBySerie').parent().load(deleteAction({serieId: ${serie.id}, bookId: e.target.id}));
		    });    
		    
		    $('.userBooksBySerie .addInSerie').click(function(e){
		    	$('.userBooksBySerie').parent().load(addAction({serieId: ${serie.id}, bookId: e.target.id}));
		    });    
		});
	</script>
</div>

